{% extends 'admin/base_site.html' %}
{% block content %}
<h1>THỐNG KẾ ỨNG VIÊN NỘP ĐƠN ỨNG TUYỂN TRÊN HỆ THỐNG </h1>
{{stats}}
<canvas id="myChart"></canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   let labels = [];
let careers = [];
let data = [];

let list = [
            {% for item in stats %}
                {
                    'recruitment_career_name': '{{ item.recruitment__career__name }}',
                    'quarter': {{ item.quarter }},
                    'year': {{ item.year }},
                    'count': {{ item.count }}
                }
                {% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
list.sort((a, b) => {
            if (a.year === b.year) {
                return a.quarter - b.quarter;
            } else {
                return a.year - b.year;
            }
        });
list.forEach(item => {
    let label = `Q${item.quarter} ${item.year}`;
    if (!labels.includes(label)) {
        labels.push(label);
    }

    let careerIndex = careers.indexOf(item.recruitment_career_name);
    if (careerIndex === -1) {
        careers.push(item.recruitment_career_name);
        careerIndex = careers.indexOf(item.recruitment_career_name);
        data[careerIndex] = [];
    }

    let labelIndex = labels.indexOf(label);
    data[careerIndex][labelIndex] = item.count;
});



    window.onload = () => {
        const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: careers.map((career, index) => {
            return {
                label: career,
                data: data[index],
                backgroundColor: `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 0.5)`,
                borderColor: `rgba(${Math.random() * 255}, ${Math.random() * 255}, ${Math.random() * 255}, 1)`,
                borderWidth: 1
            };
        })
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    }

</script>
{% endblock %}