SECRET_KEY=replace-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

MYSQLDATABASE=replace-me
MYSQLUSER=replace-me
MYSQLPASSWORD=replace-me
MYSQLHOST=replace-me
MYSQLPORT=3306

CLOUDINARY_CLOUD_NAME=replace-me
CLOUDINARY_API_KEY=replace-me
CLOUDINARY_API_SECRET=replace-me

MAILCHIMP_API_KEY=replace-me
MAILCHIMP_LIST_ID=replace-me

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=replace-me
EMAIL_HOST_PASSWORD=replace-me

CLIENT_ID=replace-me
CLIENT_SECRET=replace-me
